@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* background: black; */
    
}
#sideconnect{
    background-color: black;
    border-top: 1px solid #4B4B4B;
    color: blue;
    
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;   /* Height of the footer */
    color: beige;
    background: black;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top: 1px solid #4B4B4B;
 }

 #header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;   /* Height of the footer */
    color: beige;
    background: black;
    align-items: center;
    justify-content: right;
    display: flex;
    border-bottom: 2px;
   
  
   
 }

 .heder{
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;   /* Height of the footer */
    color: beige;
    flex-basis: auto;
    align-items: center;
    justify-content: right;
    display: flex;
    border-bottom: 1px solid #4B4B4B;
    
   
  

 
 }
 
 .midheader{
    position: fixed;
    top: 50px;
    width: 100%;
    height: 40px;   /* Height of the footer */
    color: beige;
    justify-content: right;
    align-items: center;
    border-bottom: 1px solid #4B4B4B;
  
    display: flex;
  }
 .level-two {
    width: 100%;
    height: 80px; 
    border-bottom: 2px;
    

 }
 .wallet {
    font-size: 16px;


float: right;
 }
 .midheader button{
    float: right;
    margin-right: 2px;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
 }

 .middetail {
    justify-content: center;
    align-items: center;
   
    display: flex;


color: beige;

 }
 .middetail h6{

    margin-right: 15px;
 }
 .middetail h5{

    margin-right: 15px;
 }
 .middetail a{

 
    float: left;
 
    margin-left: 0px;
    justify-content: center;
  margin-right: 1000px;
  font-size: 18px;
 }

 #header a, #footer a{
    text-decoration: none;
    color: green;
    
 }
 .headerapp{
    display: flex;
   color: red;
    margin: 50px;
 }
 #header a{
    padding: 30px;
   
 }
 .DateName{
 display: flex;
 justify-content: center;
 margin-right: 500px;
 align-items: center;
 }
 .head{
    background-color: black;
    align-items: center;
  
 }
 img{
    margin-top: -100px;
  

    background-color: black;
    width: 300px;
    height: 100%;
    margin-left: 20px;
    margin-right:200px;
   

    
    
   
 }
 
  #description{
    margin-top: 450px;
  
    border: 1px solid #4B4B4B;
   color: whitesmoke;
  box-shadow: 5em;
    border-radius:20px;
    display: flex;
    float:center;
    margin-bottom: 30px;
    width:100%;
    font-size: 24px;
 }
 #description h5{
    margin-top: -50px;
    display:inline;
   
 
   
 }
 .price{
    margin-left:-105px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width:302px;
    border-bottom: 1px solid #4B4B4B;

 }
 .creator{
    margin-left:-105px;
    margin-top: 10px;
  
 }
.share{
    margin-left:145px;
    margin-top: -20px;
    padding: 10px;
}

.Audio{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.head{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }
 
.App{
    width: 100%;
    height: 100vh; 
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.CreatorView {
   background: black;
}